
@{
    ViewBag.Title = "Productos";
    ViewBag.url = @Url.Action("Index", "Producto");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")

<section class="content">

    <button type="button" class="btn float-left btn-primary" onclick="showModalNuevoProducto()">
        <i class="fa fa-plus"></i>
        Agregar Producto
    </button>
    <br />
    <br />

    <div id="viewListaProductoTabla" class="animated fadeIn"></div> @*Tabla de los Productos*@

    <div class="row">
        <div class="col-md-7">
            <div id="viewListaProductoCuadro" class="animated fadeIn"></div>@*Cuadros de los Productos*@
        </div>

        <div class="col-md-5">
            <div id="ViewDetalleProducto"></div>@*Detalle de los Productos*@
        </div>
    </div>

    <div id="ModalAgregarProducto"></div>@*Mode de nuevos Productos*@

    <div class="modal fade" id="modal-EliminarProducto">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">Eliminar Producto</h4>
                </div>
                <div class="modal-body">
                    <p>¿Estas seguro de eliminar este registro?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pr-2" data-dismiss="modal">
                        <i class="fa fa-thumbs-o-down"></i>
                        Cerrar
                    </button>
                    <button type="button" class="btn btn-primary" onclick="EliminarProducto()">
                        <i class="fa fa-thumbs-o-up"></i>
                        Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="text" id="lblIdProducto" style="display:none" value="" />
</section>


@section Scripts {

    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    <script>

        function showDetallesProducto(productoId) {
            var url = '@Url.Action("_DetallesProducto", "Producto")';
            $.ajax({

                type: "POST",
                url: url,
                data: '{productoId: "' + productoId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                async: false,
                success: function (response) {
                    $('#ViewDetalleProducto').html(response);
                },
                error: function (response) { console.log(response); FailGuardar(response); }

            });
        }

        function EliminarProducto() {
            var url = '@Url.Action("_EliminarProducto","Producto")';
            var productoId = $('#lblIdProducto').val();
            $.ajax({

                type: "POST",
                url: url,
                data: '{productoId: "' + productoId + '" }',
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                async: false,
                success: function (response) {
                    SuccessGuardarTexto("Se eliminó el producto correctamente!!")
                    showProductoTabla();
                    EstiloTabla();
                    showProductoCuadro();
                    hideModalEliminar();
                },
                error: function (response) {
                    console.log(response);
                    hideModalEliminar();
                    FailGuardar(response);
                }

            });
        }

        function showModalEliminar(IdProducto) {
            $('#modal-EliminarProducto').modal("show");
            $('#lblIdProducto').val(IdProducto);
        }
        function hideModalEliminar() {
            $('#modal-EliminarProducto').modal("hide");
        }

        function showProductoTabla() {
            var url = '@Url.Action("_ListaProductoTabla", "Producto")';
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                async: false,
                success: function (response) {
                    $('#viewListaProductoTabla').html(response);
                },
                error: function (response) { console.log(response); }

            });
        }

         function showProductoCuadro() {
            var url = '@Url.Action("_ListaProductoCuadros", "Producto")';
            $.ajax({
                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                async: false,
                success: function (response) {
                    $('#viewListaProductoCuadro').html(response);
                },
                error: function (response) { console.log(response); }

            });
        }

        function showModalNuevoProducto() {
            var url = '@Url.Action("_FormularioNuevoProducto", "Producto")';
            $.ajax({

                type: "POST",
                url: url,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $('#ModalAgregarProducto').html(response);
                    $('#modal-Producto').modal("show");
                },
                error: function (response) { console.log(response); }
            });
        }


        function verDetallesProducto(producto, descripcion, marca, categoria) {
            var productoDto = {
                Nombre: producto,
                Descripcion: descripcion,
                Marca_nombre: marca,
                Categoria_nombre: categoria
            }
            var url = '@Url.Action("_detalleProducto", "Producto")';
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(productoDto),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('#ViewDetalleProducto').html(response);
                }
            });
        }

        function EstiloTabla() {
            $('#tablaProducto').DataTable({
                "paging": true,
                "lengthChange": false,
                "lengthMenu": [[4, 10, 20, -1], [4, 10, 20, "Todos"]],
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "scrollX": true,
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    "infoEmpty": "Mostrando 0 to 0 of 0 registros",
                    "infoFiltered": "(Filtrado de _MAX_ total registros)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ registros",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            })
        }

        $(function () {
            showProductoTabla();
            EstiloTabla();
            showProductoCuadro();
        });

        function SuccessGuardar(data) {
            toastr.success(data.message, 'Excelente', { timeOut: 9000 });
        }
        function SuccessGuardarTexto(mensaje) {
            toastr.success(mensaje, 'Excelente', { timeOut: 9000 });
        }
        function FailGuardar(data) {
            toastr.error(data.message + ", favor verifique nuevamente!", 'Error', { timeOut: 3000 })
        }



    </script>
}



